/* 
	Color Scheme
*** Primary color:

   shade 0 = #AA7739 = rgb(170,119, 57) = rgba(170,119, 57,1) = rgb0(0.667,0.467,0.224)
   shade 1 = #4A4136 = rgb( 74, 65, 54) = rgba( 74, 65, 54,1) = rgb0(0.29,0.255,0.212)
   shade 2 = #7A6041 = rgb(122, 96, 65) = rgba(122, 96, 65,1) = rgb0(0.478,0.376,0.255)
   shade 3 = #DA851E = rgb(218,133, 30) = rgba(218,133, 30,1) = rgb0(0.855,0.522,0.118)
   shade 4 = #FF8C00 = rgb(255,140,  0) = rgba(255,140,  0,1) = rgb0(1,0.549,0)
*/

/*clear margins and paddings*/
*{
	margin: 0px;
	padding: 0px;
}
/*body bg*/
body{
	background: #4A4136;
}
/* clear default margins and paddings*/
.clear{
	clear: both;
}
/*wrapper styles*/
#site-wrapper{
	width: 100%;
	margin: 0 auto;	
}  
/*end wapper styles*/
/*navigation styles*/
.main-navigation{
	position: fixed;
	top: 0;
  	left: 0;
  	z-index: 9999;
	display: inline-block;
	background:  #4A4136;
	border-bottom: 1px inset white;
	color: white;
	width: 100%;
}
.main-navigation .logo{
	position: relative;
	display: block;
	width: 10%;
	float: left;
	height: 120px;
	margin: 20px 0px 0px 1%;
}
.main-navigation ul{
	position: absolute;
	list-style-type: none;
	display: block;
	float: left;
	width: 100%;
	top: 80px;
	left: 210px;
}
.main-navigation ul>li{
	display: inline-block;
	width: 10%;
	height: 60px;
	font-size: 24px;
	text-align: center;
}
.main-navigation ul>li>a{
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	line-height:60px;
}
.main-navigation ul>li>a:hover{
	color: black;
	background: #FF8C00;
}
.main-image{
	width: 100%;
	margin-top: 145px;
}
.main-image img{
	width: 100%;
}
/*end navigation styles*/
/*main conter styles*/
.content{
	background-color: #AA7739;
	display: block;
	width: 80%;
	float: left;
}
.content .article-title{
	font-family: 'IsserleyBoldItalic'; 
   	font-weight: bold;  
	font-size: 40px;
	text-align: center;
	color: #000080;
	width: 90%;
	margin-left: 5%;
}
.content .site-article{
	font-family: 'IsserleyBoldItalic'; 
    font-style: italic; 
	background: #FF8C00;
	font-size: 22px;
	text-align: justify;
	margin-bottom: 15px;
	color: #000080;
	border-radius: 50px;

	-webkit-transition: background 0.7s ease-in 0.5;
   -moz-transition: background 0.7s ease-in 0.5;
   -o-transition: background 0.7s .ease-in 0.5
   -ms-transition: background 0.7s ease-in 0.5;
	transition:  background 0.7s ease-in 0.5;

   -webkit-transition: color 0.3s ease-in 0; 
   -moz-transition: color 0.3s ease-in 0;
   -o-transition: color 0.3s ease-in 0;
   -ms-transition: color 0.3s ease-in 0;
   transition: color 0.3s ease-in 0;
	cursor: pointer;
}
.content .site-article:hover{
	color: #FF8C00;
	background:  #4A4136;
}
.content .site-article .article-content{
	padding: 30px;
}
.col{
	display: inline-block;
	width: 45%;
	margin: 10px 0 10px 1.5%;
}
.col1{
	display: inline-block;
	width: 45%;
	margin: 10px 1.5% 10px 7%;
}
.article-image{
	width: 40%;
	float: left;
	margin-right: 15px;
	border: 3px inset #aaa;
}
/*end main content styles*/
/*aside styles*/
.aside-adverts{
	background-color: #7A6041;
	display: block;
	width: 20%;
	float: left;
}
.aside-adverts .advert{
	width: 80%;
	text-align: justify;
	margin: 15px 10% 5px 10%;
	background-color: #AA7739;

	-webkit-transition: background 0.7s ease-in 0.5;
   -moz-transition: background 0.7s ease-in 0.5;
   -o-transition: background 0.7s .ease-in 0.5
   -ms-transition: background 0.7s ease-in 0.5;
	transition:  background 0.7s ease-in 0.5;

   -webkit-transition: color 0.3s ease-in 0; 
   -moz-transition: color 0.3s ease-in 0;
   -o-transition: color 0.3s ease-in 0;
   -ms-transition: color 0.3s ease-in 0;
   transition: color 0.3s ease-in 0;
	
}
.aside-adverts .advert:hover{
	color: #FF8C00;
	background:  #4A4136;
}
.aside-adverts .advert .advert-heading{
	font-family: 'Tangerine', serif;
	font-size: 40px;
  	text-shadow: 2px 2px 2px #aaa;
	text-align: center;
	width: 90%;
	margin: 10px 0 10px 5%;
	padding-top: 10px;
	color: #000080;
}
.aside-adverts .advert .advert-content{
	width:90%;
	margin: 10px 5% 10px 5%;
	padding: 10px 5px 10px 0px;
	font-size: 20px;
	text-align: justify;
}
.advert-image{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 15px;
	display: block;
	height: 150px;
	border: 2px inset #fff;
}
/*end aside styles*/
/* footer styles*/
.site-footer{
	width: 100%;
	background: #7A6041;
	border-top: 1px inset white;
	padding-bottom: 5px;
}
.site-footer ul>li{
	list-style-type: none;
}
.site-footer a{
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.site-footer h4{
	font-size: 22px;
}
.site-footer .footer-info{
	width: 100%;
}
.site-footer .footer-info .footer-links{
	width: 40%;
	float: left;
	margin: 10px 0 0 0;
}
.site-footer .footer-info .footer-links ul>li{
	display: inline-block;
}
.site-footer .footer-info .footer-social-networks{
	width: 40%;
	float: right;
	margin: 10px 0 5 0;
}
.site-footer .footer-info .footer-social-networks ul{
	float: right;
}
.site-footer .footer-info .footer-social-networks ul>li{
	display: inline-block;
	margin-right: 10px;
}
.social-network-image{
	width:32px;
	height:32px;
	vertical-align:middle; 
}
.footer-center{
	width: 50%;
	margin-left: 25%;
	text-align: center;
}
/*end of footer styles*/
/*desktops*/
@media screen and (min-width: 1244px) and (min-width: 1824px){

}
/*notebooks*/
@media only screen and (min-width : 1024px) and (max-width : 1244px){
	/*navigation*/
	.main-navigation .logo{
		width: 15%;
	}
	.main-navigation ul{
		top: 95px;
		left: 195px;
	}
	.main-navigation ul>li{
		width: 12%;
		height: 45px;
		font-size: 22px;
	}
	.main-navigation ul>li>a{
		line-height:45px;
	}
	/*content*/
	.content{
		width: 70%;
	}
	.content .site-article:hover{
		color: #FF8C00;
		background:  #4A4136;
	}
	.col{
		display: block;
		width: 90%;
		margin: 10px 0 10px 5%;
	}
	.col1{
		display: block;
		width: 90%;
		margin: 10px 0 10px 5%;
	}
	/*aside*/	
	.aside-adverts{
		width: 30%;
	}
}
/*tablets*/
@media only screen and (min-width : 768px) and (max-width : 1024px){
	/*navigation*/
	.main-navigation{
		position: initial;
		display:  block;
	}
	.main-navigation .logo{
		width: 30%;
		margin-left: 35%;
	}
	.main-navigation ul{
		position: initial;
		margin-top: 20px;
	}
	.main-navigation ul>li{
		display: block;
		width: 100%;
		height: 50px;
	}
	.main-navigation ul>li>a{
		line-height:50px;
	}
	.main-image{
		margin-top: 10px;
	}
	/*content */
	.content{
		width: 100%;
	}
	.col{
		display: block;
		width: 90%;
		margin: 10px 0 10px 5%;
	}
	.col1{
		display: block;
		width: 90%;
		margin: 10px 0 10px 5%;
	}
	/*aside*/	
	.aside-adverts{
		width: 100%;
	}
}
/*phones*/
@media screen and (min-width: 320px) and (max-width: 768px){
	.main-navigation{
		position: initial;
		display:  block;
	}
	.main-navigation .logo{
		width: 50%;
		margin: 20px 25% 0px 25%;
	}
	.main-navigation ul{
		position: initial;
		margin-top: 20px;
	}
	.main-navigation ul>li{
		display:block;
		width: 100%;
		height: 30px;
		font-size: 20px;
	}
	.main-navigation ul>li>a{
		line-height:30px;
	}
	.main-image{
		margin-top: 10px;
	}
	/*content */
	.content{
		width: 100%;
	}
	.content .site-article .article-content{
		padding: 15px;
	}
	.col{
		display: block;
		min-width: 90%;
		margin: 10px 0 10px 5%;
	}
	.col1{
		display: block;
		min-width: 90%;
		margin: 10px 0 10px 5%;
	}
	.article-image{
		min-width:100%;
	}
	/*aside*/	
	.aside-adverts{
		width: 100%;
	}
}
/*smaller screens*/
@media screen and (min-width: 0px) and (max-width:320px){
	.main-navigation{
		position: initial;
		display:  block;
	}
	.main-navigation .logo{
		width: 100%;
		margin: 20px 0px 0px 0px;
	}
	.main-navigation ul{
		position: initial;
		margin-top: 20px;
	}
	.main-navigation ul>li{
		display:block;
		width: 100%;
		height: 30px;
		font-size: 20px;
	}
	.main-navigation ul>li>a{
		line-height:30px;
	}
	.main-image{
		margin-top: 10px;
	}
	/*content */
	.content{
		width: 100%;
	}
	.content .site-article .article-content{
		padding: 10px;
	}
	.col{
		display: block;
		min-width: 90%;
		margin: 10px 0 10px 5%;
	}
	.col1{
		display: block;
		min-width: 90%;
		margin: 10px 0 10px 5%;
	}
	.article-image{
		min-width:100%;
	}
	/*aside*/	
	.aside-adverts{
		width: 100%;
	}
}
